# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.pyd
*.pyo
*.env
env/
venv/
ENV/
*.egg-info/
*.egg
*.log

# Django
*.sqlite3
*.db
media/
staticfiles/
*.pot
*.py[cod]
*.mo

# VSCode
.vscode/

# Docker
*.log
docker-compose.override.yml

# macOS
.DS_Store
